<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>KIK-V - ResPec Template</title>
  <script src="./respec/respec-kikv.js" async class="remove"></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
      specStatus: "unofficial",
      editors: [
        { name: "René Hietkamp", url: "https://kik-v.nl" },
        { name: "Onno Haldar", url: "https://kik-v.nl" }
      ],
      github: "onnohaldar/respec-kik-v",
      format: "markdown",
      maxTocLevel: 3,
    };
  </script>
</head>
  <! -- Content to Parse as Mark Down Include -->
  <=% mdSummarySections %>
</html>